{% extends 'layout.html' %}


{% block content %}

{% load static %}

<header class="row ">
    <div class="col-md-6">
        <img src="{% static 'portafolio/perfill.jpg' %}" alt="">
    </div>

    <div class="col-md-10 my-auto p-6">
        <h1><strong>I am Lucas<strong> Backend development</h1>
        <h3>javascript, django, python development</h3>
        <p>Me describo como una persona que le gustan los nuevos retos.</p>
            <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'portafolio/CURRICULUMVITAE.pdf' %}">Download my CV</a>
    </div>
</header>

<!-- seccion de portafolio -->
<div class="row my-4 text-center">

    <h3>Algunos Proyectos</h3>

{% for project in  projects%}

<div class="col-md-4 p-4">
    <img src="{{ project.image.url}}" alt="{{ project.title }}" class="card-img-top">

    <div class="card bg-black card-project">
        <div class="card-body">
        <h1>{{ project.title }}</h1>
        <p>{{ project.description }}</p>
        
        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm " target="blank">{{project.url}}</a>
        {% endif %}
        {% endfor %} 
        </div>
    </div>
</div>

{% endblock %}

</div>
